body{
    background-color:rgb(11, 11, 11);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin: auto;
    
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.header{
    width: 100%;
    height:auto;
    overflow: hidden;
    margin: 100px;
}
.menu-bar{
    color: white;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    /* background-color: rgb(255, 0, 212); */
    justify-content:space-between;
}
.logo{
    /* width: 30%; */
    height: auto;
    overflow: hidden;
    /* background-color: blue; */
    margin: 10px 25px;
    font-size: 20px;
}
.menu{
    /* width: 70%; */
    height: auto;
    overflow: hidden;
    text-shadow: #00ffff;
    /* background-color: rgb(138, 13, 240); */
}
.navbar{
    padding: o;
    margin: 0;
}
.menu .navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.navbar ul li {
    padding: 0px 40px;
} 
.navbar ul li a {
    text-decoration: none;
    color: #f3f4f4 ;
    font-size: 18px;
}
.navbar ul li a:hover {
    color:#10ade1f4;
    transform:translatex(3px);
}
.navbar ul li  a:active {
  transform: scale(0.98);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #4e524d4b;
}



.section{
    width: 100%;
    height: auto;
    overflow: hidden;
    
    display: flex;
}
.page-about{
    width: 50%;
    margin: 40px 130px;
    
}
.image{
    width:400px;
    height: 350px;
    background-image:url(./img/photo_2025-07-24_18-41-33.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 20%;
    box-shadow:
    0 0 20px 0px rgba(0, 200, 255, 0.7),
    0 0 40px 0px rgba(0, 200, 255, 0.5),
    0 0 60px 0px rgba(0, 200, 255, 0.3);
    animation: pluse 10s  ease-in-out infinite alternate;
}
@keyframes pluse {
    from{
        transform: translatex(0px);
    }
    to{
        transform: translatex(-20px);
    }
}
.text-about{
    text-align: center;
    /* margin-top:30px; */
}
.text-about h1 {
    font-size:20px;
    color: #2caf5ad7;
    text-align: center;
}
.text-about p {
    margin-left: 45px;
    width: 500px;
    height: 180px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

/* skill icon */
.skill{
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 50px 30px;
    justify-content: center;
}
.text-skill{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(238, 7, 123, 0.86);
}
.icon{
   margin-top: 30px;
   text-align: center;
   padding: auto;
   animation: hello 5s linear infinite alternate ;
}
@keyframes hello {
    form{
        transform:rotate(0);
    }
    to{
        transform: rotate(10deg);
    }
}
.fa-brands{
    font-size: 80px;
    color: #f3f4f4;
    text-shadow: 0 5px 9px #bcb2be,
                3px 0 10px #a795aa;
}
.fa-html5 p {
    font-size: 18px;
    color: #00ffff;
}
.fa-css p {
font-size: 18px;
color: #00ffff;
}
.fa-figma p {
    font-size: 18px;
    color: #00ffff;
}
.fa-git-alt p {
    font-size: 18px;
    color: #00ffff;
}
.fa-cuttlefish p {
    font-size: 18px;
    color: #00ffff;
}
.icon-1{
    margin-top: 30px; 
    margin-left:200px;
    animation: haha 5s linear infinite alternate ;
}
@keyframes haha {
    to{
        transform:rotate(10deg);
    }
    form{
        transform: rotate(0deg);
    }
}

